{% extends 'makween/base.html' %}
{% block content %}
<style>
  .titulo {
 height: 40px;
 background-color: #EF0C0C;
 width: 100%;
 text-align: center;
 color: whitesmoke;
 font-size: 18px;
 font-weight: bold;
 line-height: 20px;
 margin-bottom: 20px;
  }
  </style>
  <div class="titulo">
  <h2>Eliminar Producto</h2>
  </div>
  <p>¿Estás seguro de que deseas eliminar el producto "{{ producto.nombre }}"?</p>
  <form method="POST">
    {% csrf_token %}
    <button type="submit">Eliminar</button>
  </form>
  <a href="{% url 'base' %}">Cancelar</a>
{% endblock %}



